@use 'variables' as v;

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .device_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid v.$base;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    .device_img {
      width: 7rem;
    }
  }
}