.container_inner {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-auto-flow: row;
  gap: 1.5rem 1.5rem;
  grid-template-areas:
    "topT topT"
    "botL botR";
}

.topT {
  grid-area: topT;
}

.botL {
  grid-area: botL;
}

.botR {
  grid-area: botR;
}
