@use 'variables' as v;

.devices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .device_item {
    background-color: v.$base;
    color: v.$second;
    padding-bottom: 0.3rem;
    margin: 1rem;
    width: 12rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: v.$bordradius;
    border: 0.1px solid v.$base;
    cursor: pointer;
    transition: background-color 0.7s linear;
    &:hover {
      color: v.$base;
      background-color: v.$second;
    }
    img {
      width: 100%;
      height: 50%;
    }
  }
}
