.container {
  margin: 15px auto;
  max-width: 1440px;
}

.container_inner {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  // display: flex;
  // justify-content: space-between;
}